<div style="display: flex">
  <div style="width: 70%" class="rete" #rete></div>
  <div>
    <div style="display: flex; flex-direction: column">
      <select
        [(ngModel)]="selected.inverter"
        (change)="changeSelectedDevice(selected.inverter, 'inverter')"
      >
        <option
          *ngFor="let inverter of deviceList.inverters"
          [ngValue]="inverter"
        >
          {{ inverter.name }}
        </option>
      </select>
      <button (click)="addInverter()" >Add Inverter</button>
    </div>
    <div style="display: flex; flex-direction: column">
      <select
        [(ngModel)]="selected.combinerbox"
        (change)="changeSelectedDevice(selected.combinerbox, 'combinerbox')"
      >
        <option
          *ngFor="let combinerbox of deviceList.combinerboxes"
          [ngValue]="combinerbox"
        >
          {{ combinerbox.name }}
        </option>
      </select>
      <button>Add Combiner Box</button>
    </div>
    <div style="display: flex; flex-direction: column">
      <select
        [(ngModel)]="selected.transformer"
        (change)="changeSelectedDevice(selected.transformer, 'transformer')"
      >
        <option
          *ngFor="let transformer of deviceList.transformers"
          [ngValue]="transformer"
        >
          {{ transformer.name }}
        </option>
      </select>
      <button>Add Transformer</button>
    </div>
  </div>
</div>
